.icon {
    display: inline-block;
    background: url(./img/icon_home.png) 0 0 no-repeat;
    vertical-align: middle;
    margin-left: 0.15rem;
}
.icon-new {
    width: 26px;
    height: 13px;
    background-position: -61px -116px;
}
.icon-hot {
    width: 26px;
    height: 13px;
    background-position: -61px -137px;
}
.icon-lock {
    width: 15px;
    height: 13px;
    background-position: 0 -12px;
}
.icon-cart {
    background-position: 0 0;
    height: 12px;
    width: 12px;
    margin-right: 5px;
}
[class^=icon-], [class*=icon-] {
    display: inline-block;
}
.icon-login-22,
.icon-login-qq,
.icon-login-weixin,
.icon-login-sina,
.icon-login-alipay,
.icon-login-baidu,
.icon-login-360 {
  width: 20px;
  vertical-align: middle;
}

.icon-login-22 {
  background-position: 0 -104px;
  height: 15px;
}

.icon-login-qq {
  background-position: 0 -129px;
  height: 22px;
}

.icon-login-weixin {
  background-position: 0 -159px;
  height: 18px;
}

.icon-login-sina {
  background-position: 0 -186px;
  height: 22px;
}

.icon-login-alipay {
  background-position: 0 -218px;
  height: 17px;
}

.icon-login-baidu {
  background-position: 0 -246px;
  height: 20px;
}

.icon-login-360 {
  background-position: 0 -275px;
  height: 17px;
}

.icon-cart {
  background-position: 0 0;
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

.icon-empty-cart {
  background-position: 0 -25px;
  height: 15px;
  width: 15px;
  vertical-align: middle;
  margin-right: 3px;
}

.icon-hot,
.icon-new {
  width: 26px;
  height: 12px;
  vertical-align: middle;
  margin-left: 3px;
}

.icon-hot {
  background-position: -61px -116px;
}

.icon-new {
  background-position: -61px -137px;
}

.icon-lock {
  height: 13px;
  width: 8px;
  background-position: 0 -12px;
  margin-left: 5px;
}

.icon-search-trade {
  background-position: 0 -291px;
  height: 50px;
  width: 52px;
  margin-left: 20px;
}

.icon-search {
  width: 20px;
  height: 20px;
  background-position: -20px -41px;
  vertical-align: middle;
}

.icon-close {
  background-position: -50px -46px;
  width: 13px;
  height: 13px;
  vertical-align: middle;
}

.icon-wsp,
.icon-sb,
.icon-yzj,
.icon-ydjj,
.icon-yyjy {
  width: 60px;
  height: 60px;
}
.icon-yyjy {
  background-position: -26px -344px;
}

.icon-ydjj {
  background-position: -26px -405px;
}

.icon-yzj {
  background-position: -26px -466px;
}

.icon-sb {
  background-position: -26px -527px;
}

.icon-wsp {
  background-position: -25px -588px;
}