*{
    padding: 0;
    margin: 0;
}
html {
    font-size: calc(100vw / 80);
    font-family: SimSun;
    white-space: nowrap;
}
@media (min-width: 992px) {
    html {
    font-size: calc(100vw / 130);
    }
}
a{
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    color: #f40 !important;
}
body {
    /* min-height: 2000px; */
    background-color: #f9f9f9;
}
ul {
    list-style: none;
}
input[type='button'] {
    outline: none;
}
@media (min-width: 1200px) {
    #wrapper {
        /* width: 70%; */
    }
}
.icon {
    display: inline-block;
    background: url(./img/icon_home.png) 0 0 no-repeat;
    vertical-align: middle;
    margin-left: 0.15rem;
}
.icon-new {
    width: 26px;
    height: 13px;
    background-position: -61px -116px;
}
.icon-hot {
    width: 26px;
    height: 13px;
    background-position: -61px -137px;
}
.icon-lock {
    width: 15px;
    height: 13px;
    background-position: 0 -12px;
}
.vertical {
    width: 0.1rem;
    height: 2rem;
    margin: 0 auto;
    background-color: orange;
}
.header {
    background-color: #F7F8F9;
}
.headerLeft {
    display: inline;
    float: left;
}
.headerLeft .collectionBox {
    margin-left: 40%;
    margin-top: 3.5rem;

}
.headerLeft .collectionBox .img {
    width: auto;
    height: 1.2rem;
    margin-right: 0.2rem;
}
@media (min-width: 992px) {
    .headerLeft .collectionBox {
        margin-top: 0.5rem;
    }
}
.headerRight {
    display: inline-block;
}
.headerRight > div > div{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}
.zero {
    padding: 0.3rem;
    background: orange;
}
.logoImg {
    height: 7rem;
}
.active {
    background-color: #f5692c;
}
.topBar {
    height: 16rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .topBar {
        height: 8rem;
    }
}
.topBarRight {
    height: 8rem;
}
.topBarRight .searchBox {
    height: 8rem;
}
.searchTapHeader {
    height: 6rem;
}

.borderBox {
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #fe8431;
    display: table;
}
.searchPanelFileds ,.searchTapBtn1 ,.searchTapBtn2{
    height: 4rem;
}
.searchIcon {
    height: 4rem;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.searchIcon img {
    width: 60%;
    height: 50%;
    min-width: 27.16px;
    min-height: 22.24px;
    display: inline-block;
}
@media (min-width: 768px) {
    .searchIcon img {
        margin-left: -15px;
    }
}
@media (min-width: 992px) {
    .searchIcon img {
        margin-left: 0;
    }
}
.inputDiv {
    height: 4rem;
}
.searchComboboxInput {
    width: 100%;
    height: 4rem;
    border: 0;
    font-size: 1.2rem;
    outline: none;
}
.searchTapBtn1 ,.searchTapBtn2{
    height: 4rem;
    width: 100%;
}
.btn1 {
    height: 4rem;
}
.searchTapBtn1 input ,.searchTapBtn2 input{
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 1.3rem;
}
.searchTapBtn2 input {
    background-color: #fe8431;
}
.menuSearchTap {
    height: 2rem;
}
.menuSearchTap .title {
    float: left;
    display: inline;
}
.menuSearchTapContent { 
    float: left;
    display: inline;  
}
.menuSearchTapContent ul {
    list-style: none;
    float: left;
}
.menuSearchTapContent ul li{
    margin: 0 0.3rem;
    display: inline-block;
}
.menuSearchTapContent ul li a {
    color: orange;
}

.serviceHotlineBox {
    height: 8rem;
}
.serviceHotline {
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.serviceHotline div {
    text-align: center;
}
.serviceHotline .telephone {
    color: orange;
}
.navBar {
    background-color: #fe8431;
    position: relative;
}
.navBarUl {
    list-style: none;
    float: left;
}
.navBarUlLi {
    line-height: 2.5rem;
    display: inline-block;
    text-align: center;
}
.navBarUlLi:hover {
    background-color: #fff;
    transition: 1s;
}
.navBarUlLi:hover > a {
    color: orange;
    display: inline-block;
}
.navBarUlLi a{
    color: #fff;
    text-decoration: none;
}
.register:hover + .register-details,
.bidding:hover + .bidding-details,
.deal:hover + .deal-details,
.trademark:hover + .trademark-details,
.cloud-computing:hover + .cloud-computing-details {
    display: block;
}
.register-details:hover,
.bidding-details:hover,
.deal-details:hover,
.trademark-details:hover,
.cloud-computing-details:hover {
    display: block;
}
.details {
    width: 100%; 
    /* height: 15rem; */
    display: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    top: 2.4rem;
    left: 0;
    z-index: 1;
    background-color: white;
    z-index: 1;
}
.details-title {
    font-weight: 600;
}
.details div:first-child {
    border-left: 0  ;
}
@media (min-width: 992px) {
    .details div {
        border-left: 1px solid #ccc;
    }
}
.details div ul {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.details div div,
.details div ul li {
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.details div ul li a {
    cursor: pointer;
    color: #666;
}
/* .details div ul li a:hover {
    text-decoration: underline;
    color: #f40;
} */
.details div ul li {
    font-size: 0.2rem;
}
.details-advertising {
    width: 100%;
}

.slide {
    height: 20.5rem;
    overflow: hidden;
    position: relative;
}
.slideContent {
    width: 100%;
    height: 100%;
}
.slideContentImg {
    width: 100%;
    height: 100%;
}
.sarch-domain-name {
    width: 60rem;
    height: 5rem;
    left: calc(50% - 30rem);
    background-color: black;
    color: white;
    bottom: 0;
    position: absolute;
}
.sarch-domain-name-left {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.search-left-text span:nth-child(1) {
    font-size: 1.2rem;
}
.search-left-text span:nth-child(2) {
    font-size: 1.4rem;
    color: #fa6600;
    font-style: italic;
    font-weight: 700;
}
.search-left-text + div span{
    font-size: 1rem;
}

.noticeBar {
    height: 2rem;
}
.noticeBar .noticeBarBox {
    display: inline;
    float: right;
    font-size: 0.7rem;
    margin-right: 7rem;
    color: orange;
    margin-top: 0.2rem;
}
.noticeBar .noticeBarBox span {
    margin: 0 1rem;
}
.noticeBar .noticeBarBox span a {
    font-size: 0.7rem;
    color: orange;
}
.domainNameTitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.domainNameTitleDiv {
    display: inline-block;
    position: relative;
    left: 48%;
}
.domainNameContent {
    font-size: 0.6rem;
}
.recommended {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.recomTitleText {
    min-width: 4rem;
    line-height: 2rem;
    font-size: 1.2rem;
    display: inline-block;
}
.bookToday {
    display: inline-block;
    border-bottom: 1px solid #ccc;
}
.bookTodaytext {
    color: #8c8c8c;
    display: inline-block;
}
.more {
    display: inline;
    float: right;
}
.more a {
    color: orange;
    font-size: 0.6rem;
}
.recomContent {
    float: left;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

.recomItemPrice {
    display: inline;
    float: left;
    width: 46%;
    height: 20%;
    background-color: #fff;
    box-shadow: 0 0 5px #888;
}
.recomItem {
    width: 46%;
    height: 3rem;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 12rem;
    min-height: 30px;
    display: inline;
    float: left;
    margin: 1.3% 2%;
    background-color: #fff;
    box-shadow: 0 0 5px #888;
}


.itemContent {
    height: 100%;
    margin: 0;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    min-width: 12rem;
    min-height: 30px;
    font-size: 0.8rem;
}
.itemContent > div {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    margin: 0;
    text-align: center;
    padding: 0;
}
@media (min-width: 992px) {
    .vertical {
        height: 1.4rem;
    }
}
.itemBtn {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    height: 100%;
    min-width: 20px;
    min-height: 20px;
}
.itemContent2 {
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
}
.itemContent2 > div {
    height: 2.5rem;
    display: inline-block;
    margin-left: 15%;
}
.recomContentRight {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.recomItemRight {
    width: 80%;
    height: 10%;
    margin: 1.5% 10%;
    float: left;
    display: inline;
    min-width: 12rem;
    min-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #888;
}
.fixedPrice {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.recomItemPrice {
    width: 46%;
    height: 20%;
    margin: 1% 2%;
    background-color: #fff;
    box-shadow: 0 0 5px #888;
}
.recomItemRightPrice {
    width: 80%;
    height: 13%;
    margin: 0 10%;
    margin: 2% 10%;
    float: left;
    background-color: #fff;
    box-shadow: 0 0 5px #888;
}
.itemContentPrice {
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    display: inline-block;
}
.itemTop {
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.itemTopLeft ,.itemTopRight{
    width: 48%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.leftDomainName ,.introduction{
    margin-bottom: 0.3rem;
}
.leftDomainName {
    font-size: 0.8rem;
}
.leftPriceText {
    font-size: 0.5rem;
    color: #8c8c8c;
}
.leftPrice ,.rightPriceNum{
    font-size: 0.8rem;
    color: orange;
    text-align: center;
}
.introduction {
    font-size: 0.5rem;
}
.rightTimeText {
    font-size: 0.5rem;
}
.rightTime {
    font-size: 0.8rem;
}
.itemBottom {
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.rightPrice {
    position: relative;
    top: 0.4rem;
}
.rightPriceText {
    margin-bottom: 0.5rem;
    color: #8c8c8c;
}

.recomContentTable {
    width: 100%;
    height: 100%;
    border: 0;
    text-align: center;
    border-collapse: collapse;
}
.recomContentTable tr {
    height: 4rem;
}
.tableHead {
    background-color: #F7F8F9;
}
.tableRow {
    background-color: white ;
}
.tdBtn {
    padding: 0.2rem;
    border: 1px solid #ccc;
    background-color: white;
}
.auction {
    background-color: #bbb;
}
.domainNameReserActivity {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.activityTop {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.activityTitle {
    font-size: 1.2rem;
    display: inline-block;
}
.actText {
    margin-left: 0.4rem;
    font-size: 0.7rem;
    padding-top: 0.3rem;
}
.activityItem {
    height: 6rem;
    background-color: #F7F8F9;
    border-top: 1px solid orange;

}
.activityItem:hover {
    background-color: orange;
    color: white;
}
#itemIcon {
    height: 6rem;
    padding: 0;
}
#itemIcon:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.itemIconImg {
    height: 2.7rem;
    vertical-align: middle;
}
.itemText {
    height: 6rem;
}
.centerToolBox {
    height: 6rem;
    display: table;
}
.centerTool {
    height: 6rem;
    display: table-cell;
    vertical-align: middle;
}
.itemTextBottom {
    font-size: 0.6rem;
}
.bottomBar {
    background-color: #F7F8F9;
}
.bottomBarItem {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline;
    float: left;
}
.btmBarItemIcon {
    height: 4rem;
}
.btmBarItemIcon:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.btmBarItemIconImg {
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
}
.btmBarItemText {
    height: 4rem;
}
.btmBarItemText:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.btmBarItemTextSpan{
    vertical-align: middle;
}
.footer {
    font-size: 0.5rem;
    color: #8c8c8c;
    background-color: #ccc;
    text-align: center;
}
.rightToolBar {
    width: 8rem;
    height: 18rem;
    position: fixed;
    float: left;
    right: 0;
    top: calc(50% - 12.5rem);
    z-index: 10;
}
.toolLeft {
    width: 60%;
    height: 100%;
    display: inline;
    float:left;
}
.QRCode {
    width: 90%;
    height: auto;
    margin: 5%;
    background-color: #f5f6f7;
    border-radius: 0.6rem;
}
.QRCodeImg {
    width: 100%;
    height: auto;

}
.toolRight {
    width: 40%;
    height: 100%;
    display: inline-block;
}
.toolRightItem {
    width: 80%;
    height: 12%;
    margin: 35% 0 35% 20%;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: orange;
}
.toolRightItemImg {
    width: 100%;
    height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
    z-index: 0 !important;
}
.title-box {
    /* height: 2rem; */
    border-top: 1px solid #ccc;
    height: 1px;
    margin: 62px 0 49px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.title-text {
    font-size: 1.8rem;
    background: #f9f9f9;
    color: #333333;
    text-align: center;
}
.title-text + span {
    text-align: center;
    color: #ccc;
}
.reservation-title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.reservation-content ul li{
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: 1px solid #ccc;
    color: #666;

}
.reservation-content ul li:nth-child(1) {
    background-color: #efeff0;
    font-weight: 600;
}
.reservation-content ul li div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ;
}
.reservation-content ul li div:nth-child(1) a:hover {
    color: orange;
    text-decoration:underline;
}
.reservation-content ul li div input {
    width: 100%;
    height: 100%;
}
.reservation-content ul li div input:hover {
    background-color: #fe8431;
}
.reservation-bottom {
    text-align: center;
}
.reservation-bottom input{
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
}
.auction {
    background-color: white;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper-item {
    border: 1px solid #ccc;
    overflow: hidden;
}
.swiper-item img {
    width: 100%;
}
.swiper-item div span a {
    font-size: 1.2rem;
}
.swiper2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.baby-box:hover > .baby-top{
    background: #ff7200;
}
.baby-top {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
.baby-top > h2 {
    font-weight: 100;
}
.baby-content > div {
    padding-bottom: 1rem;
    border: 1px solid #ccc;
}
.baby-content > div > div {
    padding-bottom: 1rem;

    position: relative;
}
.baby-content > div > div > h2 {
    font-size: 1.3rem;    
}
.baby-content > div > div > h2,
.bm-reg,
.ymx-title {
    margin: 0.5rem;
    display: inline-block;
}
.bm-reg {
    display: inline;
    background: url(../../img/bm_reg.png) no-repeat;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    float: left;
}
.ymx-title {
    display: inline;
    background: url(../../img/ymx_title.png) no-repeat;
    width: 6.5rem;
    height: 1.4rem;
    background-size: cover;
    float: left;
    margin-top: 0.8rem;
}
.baby-content > div > div > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.baby-content-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.baby-content-bottom > div >span:nth-child(1) {
    color: #ff7200;
    font-size: 1.3rem;
    font-weight: 600;
}
.baby-content-bottom > div > input {
    padding: 0.4rem 0.6rem;
    background-color: #fe8431;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    display: none;
    color: #fff;
}
.baby-content-text {
    white-space:pre-wrap;
}
.baby-content-text > span {
    color: red;
}
.baby-content > div:hover > div > div{
    padding-top: 0.5rem;
    transition: all 0.3s;
}
.baby-content > div:hover > div > div > input {
    display: block;
}
.baby-content > div:hover > div > h2 > a {
    color: #f40;
}
.urgent {
    position: absolute;
    right: 0;
    top: 0;
    width: 0rem;
    height: 0rem;
    /* background-color: #f40; */
    border-top: 4rem solid red;
    border-left: 4rem solid transparent;
}
.urgent > p {
    position: relative;
    top: -4rem;
    left: -4rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
}
.urgent > p > span {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    padding-top: 0.6rem;
    color: white;
}
.animation-hot {
    padding-bottom: 3rem;
    color: #666;
}
/* .bg-img-box:before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../../img/new_bg.jpg) center 0 no-repeat;
} */
.animation-hot > div > div{
    background-color: #fff;
}
.information-top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
}
.information-top > div:nth-child(1) > span {
    border-bottom: 2px solid  #fe8431;
    display: inline-block;
    font-weight: 600;
}
.information-top > div:nth-child(3) > span {
    float: right;
    font-size: 0.5rem;
    color: #8c8c8c;
}
.information-content > div > div.col-yd-2 span {
    color: #8c8c8c;
}
.information-content > div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.sponsors {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sponsors-top {
    margin: 1rem;
}
.sponsors-top > span:nth-child(1){
    font-size: 1.5rem;
}
.sponsors-top > span:nth-child(2){
    color: #8c8c8c;
}
.sponsors-swiper-item img{
    width: 100%;
    height: 100%;
}

.introduce {
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
}
.introduce div {
    float: left;
    position: relative;
}
.img-box {
    position: absolute;
    width: 75px;
    height: 75px;
    overflow: hidden;
}
.img-box2 {
    width: 75px;
    height: 150px;
    transition: margin-top 0.3s;
}
.introduce-text {
    width: 325px;
    height: 75px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.img-box img{
    display: block;
    width: 75px;
    height: 75px;
}
.introduce div:hover > div.img-box > div.img-box2 {
    margin-top: -75px;
}
.icon-about {
    background-position: 0 -729px;
    height: 24px;
    width: 24px;
}
.about-us {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid #ccc;
}
.about-us a {
    color: #8c8c8c;

}
.about-us-title {
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.about-us > div > div:not(:first-child) { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.page-footer {
    border-top: 1px solid #ccc;
}
.page-footer > div > div{
    text-align: center;
}
.page-footer > div > div:last-child {
    color: #8c8c8c;
}
.page-footer > div:nth-child(2),
.page-footer > div:nth-child(1) {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.page-footer > div:nth-child(3),
.page-footer > div:nth-child(4) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid #ccc; 
    color: #8c8c8c;
}
.page-footer > div:nth-child(3) > div > a,
.page-footer > div:nth-child(4) > div > a {
    color: #8c8c8c;
}
.page-footer > div:nth-child(2) {
    text-align: center;
}
.page-footer > div:nth-child(3) > div > a,
.page-footer > div:nth-child(4) > div > a {
    float:left;
    padding: 0.1rem 0.2rem;
}
.page-footer > div > div > a:after {
    clear: both;
}