*{
    padding: 0;
    margin: 0;
}
html {
    font-size: calc(100vw / 80);
    font-family: SimSun;
    white-space: nowrap;
}
a{
    text-decoration: none;
    color: #000;
}
body {
    min-height: 2000px;
}
input[type='button'] {
    outline: none;
}
.vertical {
    width: 0.1rem;
    height: 2rem;
    margin: 0 auto;
    background-color: orange;
}
.header {
    background-color: #F7F8F9;
}
.headerLeft {
    display: inline;
    float: left;
}
.headerLeft .collectionBox {
    margin-left: 40%;
    margin-top: 3.5rem;

}
.headerLeft .collectionBox .img {
    width: auto;
    height: 1.2rem;
    margin-right: 0.2rem;
}
@media (min-width: 992px) {
    .headerLeft .collectionBox {
        margin-top: 0.5rem;
    }
}
.headerRight {
    display: inline-block;
}
.headerRight > div > div{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}
.zero {
    padding: 0.3rem;
    background: orange;
}
.logoImg {
    height: 8rem;
}
.topBar {
    height: 16rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .topBar {
        height: 8rem;
    }
}
.topBarRight {
    height: 8rem;
}
.topBarRight .searchBox {
    height: 8rem;
}
.searchTapHeader {
    height: 6rem;
}

.borderBox {
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #ccc;
    display: table;
}
.searchPanelFileds ,.searchTapBtn1 ,.searchTapBtn2{
    height: 4rem;
}
.searchIcon {
    height: 3rem;
    margin-left: -15px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: #fff;
}
.searchIcon img {
    width: 80%;
    height: 80%;
    min-width: 27.16px;
    min-height: 22.24px;
    display: inline-block;
}
@media (min-width: 768px) {
    .searchIcon img {
        margin-left: -15px;
    }
}
@media (min-width: 992px) {
    .searchIcon img {
        margin-left: 0;
    }
}
.inputDiv {
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: -15px;
    margin-right: -15px;
}
.searchComboboxInput {
    height: 3rem;
    border: 0;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 1.2rem;
    outline: none;
}
.searchTapBtn1 ,.searchTapBtn2{
    height: 4rem;
    width: 100%;
}
.btn1 {
    height: 4rem;
}
.searchTapBtn1 input ,.searchTapBtn2 input{
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 1.3rem;
}
.searchTapBtn2 input {
    background-color: orange;
}
.menuSearchTap {
    height: 2rem;
}
.menuSearchTap .title {
    float: left;
    display: inline;
}
.menuSearchTapContent { 
    float: left;
    display: inline;  
}
.menuSearchTapContent ul {
    list-style: none;
    float: left;
}
.menuSearchTapContent ul li{
    margin: 0 0.3rem;
    display: inline-block;
}
.menuSearchTapContent ul li a {
    color: orange;
}

.serviceHotlineBox {
    height: 8rem;
}
.serviceHotline {
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.serviceHotline div {
    text-align: center;
}
.serviceHotline .telephone {
    color: orange;
}
.navBar {
    background-color: orange;
}
.navBarUl {
    list-style: none;
    float: left;
}
.navBarUlLi {
    line-height: 2.5rem;
    display: inline-block;
    text-align: center;
}
.navBarUlLi:hover {
    background-color: #fff;
    transition: 1s;
}
.navBarUlLi:hover >a {
    color: orange;
    display: inline-block;
}
.navBarUlLi a{
    color: #fff;
    text-decoration: none;
}
.slide {
    height: 20.5rem;
    overflow: hidden;
}
.slideContent {
    width: 100%;
    height: 100%;
}
.slideContentImg {
    width: 100%;
    height: 100%;
}
.noticeBar {
    height: 2rem;
}
.noticeBar .noticeBarBox {
    display: inline;
    float: right;
    font-size: 0.7rem;
    margin-right: 7rem;
    color: orange;
    margin-top: 0.2rem;
}
.noticeBar .noticeBarBox span {
    margin: 0 1rem;
}
.noticeBar .noticeBarBox span a {
    font-size: 0.7rem;
    color: orange;
}
.domainNameTitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.domainNameTitleDiv {
    display: inline-block;
    position: relative;
    left: 48%;
}
.domainNameContent {
    font-size: 0.6rem;
}
.recommended {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.recomTitleText {
    min-width: 4rem;
    line-height: 2rem;
    font-size: 1.2rem;
    display: inline-block;
}
.bookToday {
    display: inline-block;
    border-bottom: 1px solid #ccc;
}
.bookTodaytext {
    color: #8c8c8c;
    display: inline-block;
}
.more {
    display: inline;
    float: right;
}
.more a {
    color: orange;
    font-size: 0.6rem;
}
.recomContent {
    float: left;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

.recomItemPrice {
    display: inline;
    float: left;
    width: 46%;
    height: 20%;
    background-color: #fff;
    box-shadow: 0 0 0 5px #888;
}
.recomItem {
    width: 46%;
    height: 3rem;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 12rem;
    min-height: 30px;
    display: inline;
    float: left;
    margin: 1.3% 2%;
    background-color: #fff;
    box-shadow: 0 0 5px #888;
}


.itemContent {
    height: 100%;
    margin: 0;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    min-width: 12rem;
    min-height: 30px;
    font-size: 0.8rem;
}
.itemContent > div {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    margin: 0;
    text-align: center;
    padding: 0;
}
@media (min-width: 992px) {
    .vertical {
        height: 1.4rem;
    }
}
.itemBtn {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    height: 100%;
    min-width: 20px;
    min-height: 20px;
}
.itemContent2 {
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
}
.itemContent2 > div {
    height: 2.5rem;
    display: inline-block;
    margin-left: 15%;
}
.recomContentRight {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.recomItemRight {
    width: 80%;
    height: 10%;
    margin: 1.5% 10%;
    float: left;
    display: inline;
    min-width: 12rem;
    min-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #888;
}
.fixedPrice {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.recomItemPrice {
    width: 46%;
    height: 20%;
    margin: 1% 2%;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #888;
}
.recomItemRightPrice {
    width: 80%;
    height: 13%;
    margin: 0 10%;
    margin: 2% 10%;
    float: left;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #888;
}
.itemContentPrice {
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    display: inline-block;
}
.itemTop {
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.itemTopLeft ,.itemTopRight{
    width: 48%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.leftDomainName ,.introduction{
    margin-bottom: 0.3rem;
}
.leftDomainName {
    font-size: 0.8rem;
}
.leftPriceText {
    font-size: 0.5rem;
    color: #8c8c8c;
}
.leftPrice ,.rightPriceNum{
    font-size: 0.8rem;
    color: orange;
    text-align: center;
}
.introduction {
    font-size: 0.5rem;
}
.rightTimeText {
    font-size: 0.5rem;
}
.rightTime {
    font-size: 0.8rem;
}
.itemBottom {
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.rightPrice {
    position: relative;
    top: 0.4rem;
}
.rightPriceText {
    margin-bottom: 0.5rem;
    color: #8c8c8c;
}

.recomContentTable {
    width: 100%;
    height: 100%;
    border: 0;
    text-align: center;
    border-collapse: collapse;
}
.recomContentTable tr {
    height: 4rem;
}
.tableHead {
    background-color: #F7F8F9;
}
.tableRow {
    background-color: white ;
}
.tdBtn {
    padding: 0.2rem;
    border: 1px solid #ccc;
    background-color: white;
}
.auction {
    background-color: #bbb;
}
.domainNameReserActivity {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.activityTop {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.activityTitle {
    font-size: 1.2rem;
    display: inline-block;
}
.actText {
    margin-left: 0.4rem;
    font-size: 0.7rem;
    padding-top: 0.3rem;
}
.activityItem {
    height: 6rem;
    background-color: #F7F8F9;
    border-top: 1px solid orange;

}
.activityItem:hover {
    background-color: orange;
    color: white;
}
#itemIcon {
    height: 6rem;
    padding: 0;
}
#itemIcon:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.itemIconImg {
    height: 2.7rem;
    vertical-align: middle;
}
.itemText {
    height: 6rem;
}
.centerToolBox {
    height: 6rem;
    display: table;
}
.centerTool {
    height: 6rem;
    display: table-cell;
    vertical-align: middle;
}
.itemTextBottom {
    font-size: 0.6rem;
}
.bottomBar {
    background-color: #F7F8F9;
}
.bottomBarItem {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline;
    float: left;
}
.btmBarItemIcon {
    height: 4rem;
}
.btmBarItemIcon:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.btmBarItemIconImg {
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
}
.btmBarItemText {
    height: 4rem;
}
.btmBarItemText:after {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.btmBarItemTextSpan{
    vertical-align: middle;
}

.footer {
    font-size: 0.5rem;
    color: #8c8c8c;
    background-color: #ccc;
    text-align: center;
}

.rightToolBar {
    width: 8rem;
    height: 18rem;
    position: fixed;
    float: left;
    right: 0;
    top: calc(50% - 12.5rem);
}
.toolLeft {
    width: 60%;
    height: 100%;
    display: inline;
    float:left;
}
.QRCode {
    width: 90%;
    height: auto;
    margin: 5%;
    background-color: #f5f6f7;
    border-radius: 0.6rem;
}
.QRCodeImg {
    width: 100%;
    height: auto;

}
.toolRight {
    width: 40%;
    height: 100%;
    display: inline-block;
}
.toolRightItem {
    width: 80%;
    height: 12%;
    margin: 35% 0 35% 20%;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: orange;
}
.toolRightItemImg {
    width: 100%;
    height: 100%;
}