.small-screen-pd {
    padding: 0 0 80px 0;
  }
  
  .register-checkedall {
    line-height: 16px;
  }
  
  @media screen and (max-width: 1199px) {
    .domain-price-tab ul li {
      width: 150px;
    }
    .register-right {
      float: left;
    }
  }
  
  @media screen and (max-width: 768px) {
    .small-screen-pd {
      padding: 0 15px 50px 15px;
    }
    .register-banner1,
    .register-banner2,
    .register-banner3 {
      height: auto;
    }
    .register-cont {
      padding: 0;
      background: #fff;
    }
    .register-cont .register-box {
      padding: 19px 15px 0 15px;
      border: none;
    }
    .register-cont .register-box .register-title {
      font-size: 16px;
      width: 100%;
    }
  
    .register-cont .register-box .register-textarea textarea {
      width: 100%;
    }
  
    .register-cont .register-box .register-title .num {
      font-size: 20px;
    }
    .register-cont .register-box .register-box-bottom {
      margin: 19px 0 0;
    }
    .register-cont .register-box .register-box-bottom button.hui-button {
      margin: 10px 0 0;
    }
    .register-cont .register-box .register-box-bottom button.inquiry-button {
      margin: 15px 0 0;
    }
    .domain-price-search .domain-price-search-radio {
      font-size: 12px;
      padding: 0;
    }
    .domain-price-search .domain-price-search-radio label {
      margin-right: 10px;
    }
    .search-input-box ul li {
      width: 90px;
    }
    .inquiry-button {
      width: 100%;
    }
    .inquiry-button-btn {
      width: 100%;
      margin-left: 0;
      margin-top: 15px;
    }
    .domain-price-tab>ul>li {
      width: 18.2%;
      font-size: 12px;
      margin-right: 5px;
    }
    .register-active {
      width: 100%;
      margin: 15px 0 10px 0;
      font-size: 12px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: -o-box;
      display: box;
      -moz-box-pack: center;
      -webkit-box-pack: center;
      box-pack: center;
    }
  }
  
  .star-bar {
    position: relative;
  }
  
  .star-bar .register-result-cart {
    position: absolute;
    width: 190px;
    right: 0;
    top: 0;
  }
  
  .star-bar .register-result-cart .rrc-title {
    width: 190px;
    border: 1px solid #e4e4e4;
    text-align: center;
    /*IE*/
    text-align: -moz-center;
    /*Firefox*/
    text-align: -webkit-center;
    /*Chrome*/
    background: #fff;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
  }
  
  .star-bar .register-result-cart .rrc-title span.icon-rr-cart {
    vertical-align: middle;
    margin-right: 6px;
  }
  
  .star-bar .register-result-cart p {
    text-align: center;
    /*IE*/
    text-align: -moz-center;
    /*Firefox*/
    text-align: -webkit-center;
    /*Chrome*/
    padding: 34px 0;
  }
  
  .star-bar .register-result-cart .register-cart-hd {
    display: none;
    position: absolute;
    z-index: 2;
    top: 34px;
    border: 1px solid #e4e4e4;
    background: #fff;
    width: 260px;
    right: 0;
    text-align: left;
  }
  
  .star-bar .register-result-cart .register-cart-hd h3 {
    border-bottom: 1px solid #e4e4e4;
    line-height: 34px;
    padding: 0 10px;
    font-size: 14px;
    *zoom: 1;
  }
  
  .star-bar .register-result-cart .register-cart-hd h3:before,
  .star-bar .register-result-cart .register-cart-hd h3:after {
    display: table;
    content: "";
  }
  
  .star-bar .register-result-cart .register-cart-hd h3:after {
    clear: both;
  }
  
  .star-bar .register-result-cart .register-cart-hd ul>li {
    padding: 0 10px;
    line-height: 34px;
    border-bottom: 1px dashed #e4e4e4;
    position: relative;
  }
  
  .star-bar .register-result-cart .register-cart-hd ul>li span.close {
    display: none;
    position: absolute;
    right: 18px;
    top: 9.5px;
  }
  
  .star-bar .register-result-cart .register-cart-hd ul>li span.name {
    margin-right: 3px;
  }
  
  .star-bar .register-result-cart .register-cart-hd ul>li:hover {
    background: #fffde6;
  }
  
  .star-bar .register-result-cart .register-cart-hd ul>li:hover span.close {
    display: block;
    z-index: 4;
  }
  
  .star-bar .register-result-cart .register-cart-hd .register-cart-hd-b {
    padding: 14px 10px;
  }
  
  .star-bar .register-result-cart .register-cart-hd .register-cart-hd-b button {
    width: 100%;
    height: 30px;
    line-height: 30px;
  }
  
  .star-bar .register-result-cart .register-cart-hd .register-cart-hd-b button span {
    margin-left: 5px;
  }
  
  .star-bar .register-result-cart:hover .register-cart-hd {
    display: block;
  }
  
  .star-bar .register-result-cart:hover .rrc-title {
    background: #ff6600;
    color: #fff;
  }
  
  .u-flyer {
    width: 250px;
    display: block;
    position: fixed;
    z-index: 9999;
    background: #d5d5d5;
    padding: 0 0 20px 10px;
    font-size: 14px;
    border: 2px solid #fe8431;
  }
  
  .share-list-right {
    float: right;
  }
  
  .register-result-list {
    padding: 0 25px;
    border: 1px solid #e4e4e4;
    background: #fff;
    *zoom: 1;
  }
  
  .register-result-list:before,
  .register-result-list:after {
    display: table;
    content: "";
  }
  
  .register-result-list:after {
    clear: both;
  }
  
  .share-list li {
    padding-right: 5px;
    padding-left: 3px;
  }
  
  .share-list li a {
    margin-left: 20px;
  }
  
  .share-list li a.add-cart-bnt,
  .share-list li a.fast-register-bnt,
  .share-list li a.buy-register-bnt {
    height: 30px;
    line-height: 28px;
    text-decoration: none;
    display: inline-block;
    margin-left: 3px;
  }
  
  .share-list li:hover {
    background: #f9f9f9;
    /* .add-cart-bnt{ background: #f79427; border-color:#f79427; color: @font_white;}
      .fast-register-bnt{ background: #f9463d; border-color:#f9463d; color: @font_white;}
      .buy-register-bnt{ background: @bg_chengt; border-color: @bg_chengt; color: @font_white; }*/
  }
  
  .register-result-list-tj {
    background: #fff;
    border: 1px solid #e4e4e4;
    margin-top: 20px;
    *zoom: 1;
  }
  
  .register-result-list-tj:before,
  .register-result-list-tj:after {
    display: table;
    content: "";
  }
  
  .register-result-list-tj:after {
    clear: both;
  }
  
  .register-result-list-tj .box-list-title h3 {
    padding-left: 0;
    margin: 0 25px;
  }
  
  .register-result-list-tj .register-result-list-row li {
    width: 50%;
    float: left;
    padding: 0;
    *zoom: 1;
    padding: 0 25px;
    box-sizing: border-box;
    border-bottom: none;
  }
  
  .register-result-list-tj .register-result-list-row li:before,
  .register-result-list-tj .register-result-list-row li:after {
    display: table;
    content: "";
  }
  
  .register-result-list-tj .register-result-list-row li:after {
    clear: both;
  }
  
  .register-result-list-tj .register-result-list-row li .share-list-row {
    padding: 10px 0;
    border-bottom: 1px dashed #e4e4e4;
    min-height: 50px;
    *zoom: 1;
    word-break: break-all;
  }
  
  .register-result-list-tj .register-result-list-row li .share-list-row:before,
  .register-result-list-tj .register-result-list-row li .share-list-row:after {
    display: table;
    content: "";
  }
  
  .register-result-list-tj .register-result-list-row li .share-list-row:after {
    clear: both;
  }
  
  .register-result-list-tj .register-result-list-row li:nth-last-child(2) .share-list-row,
  .register-result-list-tj .register-result-list-row li:last-child .share-list-row {
    border-bottom: none;
  }
  
  .register-result-list-tj .share-list li:hover {
    background: none;
  }
  
  .register-result-more {
    padding: 10px 0;
    line-height: 30px;
    border-top: 1px dashed #e4e4e4;
  }
  
  .register-tips {
    display: inline;
    position: absolute;
  }
  
  .register-tips .register-tips-arrow span {
    border-bottom: 6px solid #96cd58;
    border-left: 6px solid transparent;
    top: 18px;
    left: 6px;
  }
  
  .register-tips .text {
    padding: 0 6px;
    line-height: 20px;
    background: #96cd58;
    color: #fff;
    margin-left: 12px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
  }
  
  @media screen and (max-width: 768px) {
    .register-result-list {
      padding: 0 15px 24px 15px;
    }
    .register-result-list .register-result-list-bottom input {
      margin-right: 5px;
    }
    .register-result-list .register-result-list-bottom button {
      margin-left: 5px;
    }
    .register-result-list .register-result-list-bottom button.cheng-button {
      width: 100px;
    }
    .share-list-right {
      float: none;
      padding-left: 18px;
    }
    .register-result-list-tj .share-list-right {
      padding-left: 0;
    }
    .register-result-list-tj .share-list li a {
      margin-right: 0;
      margin-left: 10px;
    }
    .register-result-list-tj .box-list-title h3 {
      margin: 0 15px;
    }
    .register-result-list-tj .register-result-list-row li {
      width: 100%;
      float: none;
    }
    .register-result-list-tj .register-result-list-row li:nth-last-child(2) .share-list-row {
      border-bottom: 1px dashed #e4e4e4;
    }
    .share-list li a {
      margin-left: 0;
      margin-right: 10px;
    }
    .share-list li a.add-cart-bnt,
    .share-list li a.fast-register-bnt,
    .share-list li a.buy-register-bnt {
      height: 30px;
      line-height: 28px;
      text-decoration: none;
      display: inline-block;
      margin-left: 3px;
      border: none;
      background: none;
      padding: 0;
      color: #0066cc;
    }
    .share-list li a.add-cart-bnt:hover,
    .share-list li a.fast-register-bnt:hover,
    .share-list li a.buy-register-bnt:hover {
      color: #ff7200;
      text-decoration: underline;
    }
  }
  
  .cart-accounts {
    font-size: 26px;
    color: #333333;
    line-height: 36px;
    position: absolute;
    width: 178px;
    left: 0;
    top: 0;
  }
  
  .cart-accounts span {
    vertical-align: middle;
    margin-right: 9px;
  }
  
  .cart-accounts-cont {
    background: #fff;
    margin-bottom: 20px;
  }
  
  .cart-accounts-cont .cart-accounts-title {
    border: 1px solid #e4e4e4;
    border-bottom: none;
  }
  
  .cart-accounts-cont .cart-accounts-title a {
    font-size: 14px;
  }
  
  .cart-accounts-cont .cart-accounts-row .cart-accounts-money {
    padding: 0 30px;
    border: 1px solid #e4e4e4;
    border-top: none;
  }
  
  .cart-accounts-cont .cart-accounts-row .cart-accounts-money .text {
    padding: 22px 0;
    border-bottom: 1px solid #e4e4e4;
  }
  
  .cart-accounts-cont .cart-accounts-row .cart-accounts-money .text p {
    line-height: 32px;
    text-align: right;
  }
  
  .cart-accounts-cont .cart-accounts-row .cart-accounts-money .text p span {
    width: 180px;
    display: inline-block;
  }
  
  .cart-accounts-cont .cart-accounts-row .cart-accounts-money .text p b,
  .cart-accounts-cont .cart-accounts-row .cart-accounts-money .text p a {
    width: 85px;
    display: inline-block;
  }
  
  .bnt-batch-use {
    width: 70px;
    height: 24px;
    line-height: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #aaa;
    margin-left: 6px;
  }
  
  .bnt-batch-use:hover {
    border: 1px solid #ff7200;
    text-decoration: none;
  }
  
  @media screen and (max-width: 1199px) {
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money {
      padding: 0 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .box-list-title h3 {
      border-bottom: none;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money {
      padding: 0 15px;
      border: 1px solid #e4e4e4;
      border-top: none;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money .title {
      padding: 14px 0;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money .title span {
      float: none;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money .text p a {
      width: 100%;
      display: block;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money .text p span {
      width: auto;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-submit {
      border: none;
      background: #fff;
      padding: 25px 0 17px 0;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-submit p {
      font-size: 12px;
      text-align: right;
    }
  }
  .fixbar {
    position: relative;
  }
  
  .fixbar span[class^=icon-] {
    margin-right: 4px;
  }
  
  .fixbar .arrow-right-white {
    border-width: 8px;
  }
  
  .fixbar .fixbar-text {
    margin-right: 220px;
    border: 1px solid #e4e4e4;
    padding: 9px 20px 8px 30px;
    line-height: 36px;
    border-right: none;
    height: 60px;
    background: #fff;
    *zoom: 1;
  }
  
  .fixbar .fixbar-text:before,
  .fixbar .fixbar-text:after {
    display: table;
    content: "";
  }
  
  .fixbar .fixbar-text:after {
    clear: both;
  }
  
  .fixbar .fixbar-text input {
    margin-right: 8px;
  }
  
  .fixbar .fixbar-text a {
    padding-left: 15px;
  }
  
  .fixbar .fixbar-text a.cart-pl {
    padding-left: 0;
  }
  
  .fixbar .fixbar-text .fixbar-text-l {
    float: left;
    display: inline;
  }
  
  .fixbar .fixbar-text .fixbar-text-r {
    float: right;
    display: inline;
  }
  
  .fixbar .fixbar-text .price {
    font-size: 26px;
  }
  
  .fixbar .fixbar-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 220px;
  }
  
  .fixbar .fixbar-button button {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    border-radius: 0;
  }
  
  .fixbar .fixbar-button button span {
    margin-left: 10px;
  }
  
  .fixbar .fixbar-text-result {
    padding: 0 0 0 20px;
    line-height: 58px;
  }
  
  .fixbar .fixbar-text-result button.addcar {
    border-top: none;
    border-bottom: none;
    margin-right: 10px;
    width: 180px;
    font-size: 20px;
  }
  
  .fix {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    z-index: 999;
    border: 1px solid #e4e4e4;
  }
  
  .fix .fixbar-text {
    border: none;
  }
  
  .cart-accounts-money .activity-notice {
    border: none;
    padding: 10px 0;
    margin-bottom: 0;
    *zoom: 1;
  }
  
  .cart-accounts-money .activity-notice:before,
  .cart-accounts-money .activity-notice:after {
    display: table;
    content: "";
  }
  
  .cart-accounts-money .activity-notice:after {
    clear: both;
  }
  
  .cart-accounts-money .activity-notice .activity-notice-text-l {
    float: left;
    display: inline;
  }
  
  .cart-accounts-money .activity-notice .activity-notice-text-r {
    float: right;
    display: inline;
  }
  
  .cart-accounts-money span.icon-remark {
    margin-right: 9px;
  }
  
  .cart-accounts-title span {
    font-size: 26px;
    color: #ff6600;
  }
  
  @media screen and (max-width: 1199px) {
    .fixbar .fixbar-text {
      padding-left: 20px;
    }
    .fixbar .fixbar-text-quanren {
      margin-right: 120px;
    }
    .fixbar .submit-fixbar-button {
      width: 120px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .activity-notice {
      padding: 10px 15px;
    }
    .cart-accounts-money .activity-notice {
      text-align: right;
      line-height: 24px;
      font-size: 12px;
    }
    .cart-accounts-money .activity-notice .activity-notice-text-l {
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 10px;
      width: 100%;
    }
    .cart-accounts-money .activity-notice .activity-notice-text-r {
      line-height: 30px;
      float: none;
      padding-top: 10px;
    }
    .fixbar .fixbar-text {
      margin-right: 0;
      border: none;
      padding: 9px 0;
    }
    .fixbar .fixbar-text .fixbar-text-l,
    .fixbar .fixbar-text .fixbar-text-r {
      text-align: right;
    }
    .fixbar .fixbar-text-result button.addcar {
      width: 84px;
      line-height: 30px;
      border: 1px solid #e4e4e4;
      font-size: 14px;
    }
    .fixbar .fixbar-button {
      position: relative;
      width: 100%;
    }
    .register-fixbar .fixbar-text-result button.addcar {
      width: 100%;
      border: 1px solid #e4e4e4;
      line-height: 60px;
      font-size: 20px;
    }
    .register-fixbar .fixbar-text {
      height: auto;
      padding: 0 15px;
    }
    .register-fixbar .fixbar-text .fixbar-text-r {
      float: none;
    }
    .register-fixbar .fixbar-button {
      background: #fff;
      padding: 15px;
    }
  }
  .cart-star-bar .star-bar-steps {
    margin: 0 0 20px 210px;
    left: 0;
  }
  .bluet {
    color: #0066cc;
}
.main-title {
    padding: 14px 0 9px 0;
    line-height: 24px;
    font-size: 12px;
}
.huit {
    color: #999;
}
.icon-cart-accounts {
    width: 39px;
    height: 36px;
    background-position: -88px -276px;
}
.star-bar-steps {
    font-size: 0;
    overflow: hidden;
    line-height: 0;
    margin: 0 210px 20px 0;
}
.star-bar-steps .wrap {
    width: 25%;
    display: inline-block;
}
.star-bar-steps {
    font-size: 0;
    overflow: hidden;
    line-height: 0;
    margin: 0 210px 20px 0;
  }
  
  .star-bar-steps .finished {
    background: #ff7200;
    color: #fff;
  }
  
  .star-bar-steps .finished .triangle-right {
    border-color: transparent transparent transparent #ff7200;
  }
  
  .star-bar-steps .current {
    background: #efeff0;
  }
  
  .star-bar-steps .current .triangle-right {
    border-color: transparent transparent transparent #efeff0;
  }
  
  .star-bar-steps .current-back {
    background: #ffefe4;
    color: #ff7200;
  }
  
  .star-bar-steps .current-back .triangle-right {
    border-color: transparent transparent transparent #ffefe4;
  }
  
  .star-bar-steps .todo {
    background-color: #efeff0;
  }
  
  .star-bar-steps .wrap {
    width: 25%;
    display: inline-block;
  }
  
  .star-bar-steps .wrap>div {
    width: 100%;
    text-align: center;
    /*IE*/
    text-align: -moz-center;
    /*Firefox*/
    text-align: -webkit-center;
    /*Chrome*/
    height: 36px;
    display: inline-block;
    line-height: 36px;
    vertical-align: top;
    font-size: 14px;
    position: relative;
  }
  
  .star-bar-steps .wrap>div>label {
    cursor: default;
  }
  
  .star-bar-steps .triangle-right-bg {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    z-index: 1;
    border-width: 22px;
    right: -40px;
    border-color: transparent transparent transparent #FFF;
    top: -4px;
  }
  
  .star-bar-steps .triangle-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px;
    position: absolute;
    right: -31px;
    z-index: 1;
  }
  
  .cart-star-bar .star-bar-steps {
    margin: 0 0 20px 210px;
    left: 0;
  }
  .cart-accounts-row span[class^=w-] {
    float: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .cart-accounts-row span[class^=w-].w-name {
    width: 16.25%;
    padding-left: 20px;
  }
  
  .cart-accounts-row span[class^=w-].w-content {
    width: 20.6%;
  }
  
  .cart-accounts-row span[class^=w-].w-mould {
    width: 14.9%;
  }
  
  .cart-accounts-row span[class^=w-].w-year {
    width: 8.6%;
    text-align: center;
    /*IE*/
    text-align: -moz-center;
    /*Firefox*/
    text-align: -webkit-center;
    /*Chrome*/
  }
  
  .cart-accounts-row span[class^=w-].w-date {
    width: 10.8%;
  }
  
  .cart-accounts-row span[class^=w-].w-price {
    width: 9.25%;
  }
  
  .cart-accounts-row span[class^=w-].w-coupon {
    width: 14.85%;
    text-align: center;
    /*IE*/
    text-align: -moz-center;
    /*Firefox*/
    text-align: -webkit-center;
    /*Chrome*/
  }
  
  .cart-accounts-row span[class^=w-].w-operate {
    width: 4.75%;
  }
  
  .cart-accounts-row span[class^=w-].w-cart-mould {
    width: 19.6%;
  }
  
  .cart-accounts-row span[class^=w-].w-cart-year {
    width: 14.55%;
  }
  
  .cart-accounts-row span[class^=w-].w-cart-price,
  .cart-accounts-row span[class^=w-].w-cart-date {
    width: 11.7%;
  }
  
  .cart-accounts-row span[class^=w-].w-cart-operate {
    width: 5.6%;
  }
  
  .cart-accounts-row span[class^=w-].w-cart-djprice {
    width: 14.7%;
  }
  
  .cart-accounts-row span[class^=w-].w-cart-dj {
    width: 14.3%;
  }
  
  .cart-accounts-row h3 {
    background: #f9f9f9;
    line-height: 30px;
    padding: 10px 0;
    height: 50px;
    border: 1px solid #e4e4e4;
    border-top: none;
    font-size: 14px;
  }
  
  .cart-accounts-row .cart-accounts-list {
    background: #fff;
  }
  
  .cart-accounts-row .cart-accounts-list ul li {
    position: relative;
    line-height: 30px;
    min-height: 50px;
    padding: 10px 0;
    border: 1px solid #e4e4e4;
    border-top: none;
  }
  
  .cart-accounts-row .cart-accounts-list ul li.active {
    background: #fffde6;
  }
  
  .cart-accounts-row .cart-accounts-list ul li:hover {
    background: #f9f9f9;
  }
  
  @media screen and (max-width: 768px) {
    .my-cart .cart-accounts-row .cart-accounts-list .cart-select-short {
      margin-left: 0;
    }
    .cart-accounts-row .cart-accounts-list ul li {
      border-top: 1px solid #e4e4e4;
      margin-bottom: 20px;
      padding: 0 15px;
      position: relative;
    }
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-] {
      float: none;
      display: block;
      line-height: 30px;
      padding: 10px 0 0;
      border-bottom: 1px dashed #e4e4e4;
    }
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-cart-price,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-price,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-coupon {
      border-bottom: none;
    }
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-cart-djprice,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-cart-dj,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-cart-price,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-cart-date,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-cart-year,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-cart-mould,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-coupon,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-price,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-date,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-year,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-mould,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-content,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-name {
      width: 100%;
    }
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-coupon,
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-year {
      text-align: left;
    }
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-operate {
      position: absolute;
      right: 10px;
      width: 40px;
      bottom: 0;
      border-bottom: none;
    }
    .cart-accounts-row .cart-accounts-list ul li span[class^=w-].w-cart-operate {
      position: absolute;
      right: 10px;
      width: 40px;
      top: 0;
      border-bottom: none;
      display: block;
    }
    .cart-accounts-row .cart-accounts-list ul li:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 1199px) {
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money {
      padding: 0 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .box-list-title h3 {
      border-bottom: none;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money {
      padding: 0 15px;
      border: 1px solid #e4e4e4;
      border-top: none;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money .title {
      padding: 14px 0;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money .title span {
      float: none;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money .text p a {
      width: 100%;
      display: block;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-money .text p span {
      width: auto;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-submit {
      border: none;
      background: #fff;
      padding: 25px 0 17px 0;
    }
    .cart-accounts-cont .cart-accounts-row .cart-accounts-submit p {
      font-size: 12px;
      text-align: right;
    }
  }
  
  .my-cart .register-more-price {
    border: 1px solid #e4e4e4;
    padding: 0 18px;
    margin-bottom: 10px;
    line-height: 36px;
  }
  
  .my-cart .cart-accounts-row h3 {
    border-top: 1px solid #e4e4e4;
  }
  
  .my-cart .cart-accounts-row h3 select {
    margin-left: 8px;
  }
  
  .my-cart .cart-accounts-row .cart-accounts-list input[type=checkbox],
  .my-cart .cart-accounts-row .cart-accounts-list input[type=radio] {
    margin: 0;
  }
  
  .my-cart .cart-accounts-row .cart-accounts-list .cart-select-short {
    margin-left: 35px;
  }
  .red:hover {
    text-decoration: none;
    color: #ff0000;
}
.red {
    color: #ff0000;
}
.cart-accounts-money span.icon-remark {
    margin-right: 9px;
}
.icon-remark {
    width: 19px;
    height: 16px;
    background-position: -108px -219px;
    vertical-align: middle;
}
